<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="<%='active' if params[:tab] == 'home' || params[:tab].blank? %> tab-underlined" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="<%='active' if params[:tab] == 'offers' %> tab-underlined" id="offer-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offer" aria-selected="false">Offers</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="<%='active' if params[:tab] == 'items' %> tab-underlined" id="item-tab" data-toggle="tab" href="#items" role="tab" aria-controls="item" aria-selected="false">Items</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="<%='active' if params[:tab] == 'exchanges' %> tab-underlined" id="exchange-tab" data-toggle="tab" href="#exchanges" role="tab" aria-controls="exchange" aria-selected="false">Exchanges</a>
  </li>
</ul>

<% accepted_items = @user.received_offers.accepted.map {|offering| offering.posted} + @user.sent_offers.accepted.map {|offering| offering.offered} %>
<% exchanged_items = @user.received_offers.exchanged.map {|offering| offering.posted} + @user.sent_offers.exchanged.map {|offering| offering.offered} %>
<% accepted_offers = @user.sent_offers.accepted %>
<% rejected_offers = @user.sent_offers.rejected %>
<% pending = @user.sent_offers.pending%>
<% pending_items = pending.map {|offering| offering.offered} %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade py-3 <%='show active' if params[:tab] == 'home' ||  params[:tab].blank? %>" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class= 'info-container' >
      <div class= 'info-card'>
        <p><strong>Name:</strong> <%= @user.name %></p>
        <p><strong>Email:</strong>  <%= @user.email %></p>
        <p><strong>Contact:</strong> <%= @user.phone_number %></p>
        <p><strong>Location:</strong> <%= @user.location %></p>
      </div>
      <div class= 'info-card'>
        <%# No status changed %>
        <p><strong>You have :</strong></p>
        <% if accepted_offers.count != 0 && rejected_offers.count != 0%>
          <p>- <%= accepted_offers.count %> offers accepted</p>
          <p>- <%= rejected_offers.count %> offers rejected</p>
        <% else %>
          <p>No offers have been accepted or rejected.</p>
        <% end %>
        <%# Status changed (status on offerings)%>
        <% if pending.count != 0%>
          <p><strong><%= pending.count %></strong> pending offers</p>
        <% else %>
          <p>You have no pending offer!</p>
        <% end %>
      </div>
    </div>
    <div class="status-container">
      <div class="status-card">
        <% if accepted_items.count != 0 %>
          <p>Most recent upcoming exchange:</p>
          <div class="status-card-container">
            <div class="card-photo"><%= cl_image_tag accepted_items.first.photo.key, height: 200, width: 300, crop: :fill %>
              <div class="card-content">
                <p><%= accepted_items.first.name %></p>
                <p><%= accepted_items.first.description %></p>
              </div>
            </div>
          </div>
        <% else %>
          <p>You have no upcoming exchange!</p>
        <% end %>
      </div>
      <div class="status-card">
        <% if pending.count != 0 %>
          <p>You have <%= pending.count %> pending items</p>
          <%= render 'pending_items', pending_items: pending_items %>
        <% else %>
          <p>You have no pending items</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade py-3 <%='show active' if params[:tab] == 'offers' %>" id="offers" role="tabpanel" aria-labelledby="offer-tab">
    <div class="pending-offer-body">
      <% if pending.count != 0 %>
        <div class="pending-card-container">
          <div><h4>Your Pending Offers:</h4></div>
          <% pending.each do |offering| %>
            <div class="pending-offer-card">
              <div class="posted-item-card">
                <% pending_posted_item = offering.posted %>
                <div class="card-photo">
                  <p>Item interested:</p>
                  <% if pending_posted_item.photo.attached? %>
                    <%= link_to item_path(pending_posted_item) do%>
                      <%= cl_image_tag(pending_posted_item.photo.key)%>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-content">
                  <p><%= link_to pending_posted_item.name.capitalize, item_path(pending_posted_item)%></p>
                  <div class="text">
                    <p>Owner: <%= pending_posted_item.user.name %></p>
                  </div>
                </div>
              </div>
              <div class='arrow'><i class="fas fa-arrow-left"></i></div>
              <div class="offered-item-card">
                <div class="card-photo">
                  <p>Your offer:</p>
                  <% if offering.offered.photo.attached? %>
                    <%= link_to item_path(offering.offered) do%>
                      <%= cl_image_tag(offering.offered.photo.key)%>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-content">
                  <p><%= link_to offering.offered.name.capitalize, item_path(offering.offered)%></p>
                  <p class='booking-tag'>pending</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class='statement'><p>You have no pending offer!</p></div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade py-3 <%='show active' if params[:tab] == 'items' %>" id="items" role="tabpanel" aria-labelledby="item-tab">
    <div class="item-card-body" style='background-color: white'>
      <div class="user-items-card-container">
        <% @user.items.each do |item| %>
          <div class="item-card">
            <div class="imgBx">
              <%= link_to item_path(item) do%>
                <%= cl_image_tag(item.photo.key) %>
              <% end %>
            </div>
            <div class="item-content">
              <div class="productName">
                <%= link_to item.name.capitalize, item_path(item)%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade py-3 <%='show active' if params[:tab] == 'exchanges' %>" id="exchanges" role="tabpanel" aria-labelledby="exchange-tab">
    <div class="pending-offer-body">
      <% if accepted_items.count != 0%>
        <div class="pending-card-container">
          <h4>Your upcoming exchanges:</h4>
          <%# !ADD SORT BY DATE  %>
          <% accepted_items.each do |user_item| %>
            <div class="pending-offer-card">
              <div class="offered-item-card">
                <div class="card-photo">
                  <p>Your offer:</p>
                  <%= cl_image_tag(user_item.photo.key) %></div>
                <div class="card-content">
                  <p><%= user_item.name.capitalize %></p>
                </div>
              </div>
              <div class="arrow">
                <% offering = Offering.find_by(posted: user_item) ?  Offering.find_by(posted: user_item) : Offering.find_by(offered: user_item) %>
                <div data-controller='alarm'>
                  <div class="form" data-alarm-target= 'form' data-action='click->alarm#confirm'>
                    <%= form_for offering do |t| %>
                      <%= t.hidden_field :status, value: 'exchanged' %>
                      <%= t.submit "Exchanged?", class: ' btn btn-primary' %>
                    <% end %>
                  </div>
                </div>
                <%# <i class="fas fa-arrows-alt-h"></i> %>
              </div>
              <div class="posted-item-card">
                <% accepted_corresponding_item = @offerings.map do |offering| %>
                  <% user_item == offering.offered ? offering.posted : offering.offered%>
                <% end.compact.first%>
                <div class="card-photo">
                  <p><%=accepted_corresponding_item.user.name%>'s offer:</p>
                  <%= cl_image_tag(accepted_corresponding_item.photo.key) %></div>
                <div class="card-content">
                  <p><%= accepted_corresponding_item.name.capitalize %></p>
                  <div class="text">
                    <p>Owner: <%= accepted_corresponding_item.user.name %></p>
                  </div>
                  <div class="text">
                    <p>Phone Number: <%= accepted_corresponding_item.user.phone_number %></p>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      <% else %>
        <p>You have no upcoming exchange!</p>
      <% end %>
    </div>
    <div class="pending-offer-body">
      <% if exchanged_items.count != 0%>
        <div class="pending-card-container">
          <h4>Past exchanges:</h4>
        <%# !ADD SORT BY DATE  %>
          <% exchanged_items.each do |user_item| %>
            <div class="pending-offer-card">
              <%# Time and Location  %>
              <div class="offered-item-card">
                <div class="card-photo"><%= cl_image_tag(user_item.photo.key)%></div>
                <div class="card-content">
                  <p><%= user_item.name.capitalize %></p>
                </div>
              </div>
              <div class="arrow"><i class="fas fa-arrows-alt-h"></i></div>
              <div class="posted-item-card">
                <% accepted_corresponding_item = @offerings.map do |offering| %>
                  <% user_item == offering.offered ? offering.posted : offering.offered%>
                <% end.compact.first%>
                <div class="card-photo">
                  <%= cl_image_tag(accepted_corresponding_item.photo.key) %>
                </div>
                <div class="card-content">
                  <p><%= accepted_corresponding_item.name.capitalize %></p>
                  <div class="text"><p>Owner: <%= accepted_corresponding_item.user.name %></p></div>
                  <div class="text"><p>Phone Number: <%= accepted_corresponding_item.user.phone_number %></p></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="title"><h4>Past exchanges:</h4></div>
        <div class='statement'><p>No exchanges have been made so far!</p></div>
      <% end %>
    </div>
  </div>
</div>
