<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1624564890916-2669288b9f16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <h1>Welcome to Barter</h1>
  <h2>Just exchange it</h2>
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="card mask-custom p-2 mt-5">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-6 mb-3 mb-md-0">
              <div id="basic" class="form-outline form-white">
                <%= form_tag root_path, class: "d-flex", method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find an item"
                  %>
                  <%= submit_tag "Search", class: "btn btn-info ml-1" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# item_card %>
<div class="item-card-body">
  <div class="card-container">
    <% @search_items.each do |item| %>
      <div class="item-card">
        <div class="imgBx">
          <% if item.photo.attached? %>
            <%= link_to item_path(item) do%>
              <%= cl_image_tag(item.photo.key) %>
            <% end %>
          <% end %>
          <ul class="action">
            <li><i class="far fa-bookmark"></i></li>
            <span>Add to Bookmark</span>
          </ul>
        </div>
        <div class="item-content">
          <div class="productName">
            <%= link_to item.name.capitalize, item_path(item)%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
