<div class="container">
  <div class="d-flex mt-4">
    <div class="card-trip w-100">
      <%= @item.photo.attached? ? cl_image_tag(@item.photo.key) : "" %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @item.name.capitalize %></h2>
          <p> <%= @item.description %></p>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="form px-5 d-flex justify-content-center w-100 row">
        <%= simple_form_for [@item, @offering] do |f| %>
          <%= f.association :offered, label: 'Your items to offer',
          as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          input_html: {class: 'category-selector'},
          collection: current_user.items.map { |img| cl_image_tag(img.photo.key, height: 100, width: 100, crop: :fill) } %>
          <div class="d-flex justify-content-center"><%= f.submit class: 'btn btn-flat right', value: 'Make an Offer', data: { disable_with: false }%></div>
        <% end %>
      </div>
    <% else %>
      <div class="button-sign-in m-5 px-5 d-flex justify-content-center align-self-center w-100"><%= link_to "Sign in to offer",  new_user_session_path %></div>
    <% end %>
  </div>
</div>
<%# Why I cant get the photo? NO PHOTO YET MAYBE%>
<%# How can I display the item that has been offered from another user %>
<%# if there is %>
<%# if item-offering include item-id then display  all of them%>
<div class = "offered-header">
  <h4>Offers to this product </h4>
</div>
<div class="offers">
  <% if @item.offered_offerings.any? %>
    <% @item.offered_offerings.each do |offering| %>
      <div class="offerings">
        <div class='offering-image'><%= cl_image_tag offering.offered.photo.key, height: 100, width: 200, crop: :fill  %></div>
        <div class='offering-content d-flex d-flex justify-content-between align-items-center'>
          <%# <% offering = Offering.find_by(item: @item, movie: movie) %>
          <div>
            <h4><%= offering.offered.name.capitalize %></h4>
            <p><%= offering.offered.description %></p>
          </div>
          <div class="d-flex">
            <% if policy(offering).accept_or_reject? && offering.pending? %>
              <div>
              <%= simple_form_for offering do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-success m-3' %>
              <% end %>
              </div>
              <div>
              <%= simple_form_for offering do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-danger m-3' %>
              <% end %>
              </div>
            <% else %>
              <p class='booking-tag'><%= offering.status %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-offer-message">
      <h5>No offer yet!</h5>
    </div>
  <% end %>
</div>
