<div class="card-item-picture">
   <img class="card-img-top" style = "background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= @item.photo.attached? ? cl_image_path(@item.photo.key) : "" %>)">
  <div class="card-item-info">
    <div>
      <h2><%= @item.name %></h2>
      <p><%= @item.description %></p>
                           <%# <%= link_to 'Offer', new_item_offering_path(@item), class: 'btn btn-flat btn-lg float-right pr-5' %>
    </div>
  </div>
</div>
<%# Why I cant get the photo? NO PHOTO YET MAYBE%>
<%# How can I display the item that has been offered from another user %>
<%# if there is %>
<%# if item-offering include item-id then display  all of them%>

<div class="offerings">
    <% @item.offered_offerings.each do |offering| %>
    <%# <% offering = Offering.find_by(item: @item, movie: movie) %>
    <h4><%= offering.offered.name %></h4>
    <p><%= offering.offered.description %></p>
  <% end %>
  </div>
</div>
<%# Some changes were made  %>
<%= link_to 'Create New Item', new_item_path %>
<% if user_signed_in? %>
  <div class="form">
    <%= simple_form_for [@item, @offering] do |f| %>
        <%= f.association :offered, label: 'Choose an item to offer', collection: current_user.items.map {|item| [item.name, item.id]}%>
        <%= f.submit class: 'btn btn-flat', value: 'Make an Offer', data: { disable_with: false }%>
        <% end %>
        </div>
  </div>
<% else %>
  <%= link_to "Sign in to offer",  new_user_session_path %>
<% end %>


<%# collection: current_user.items.map {|item| [cl_image_tag(item.photo.key, width: 300, height: 200, crop: :scale), item.id] } %>
<%# <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %> %>
